.News {
  padding: 20px;
}


.NewsBtn {
  margin: 15px;
  padding: 10px;
  background-color: #42a4f5;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius:  5px;
}

.NewsData {
  padding-top: 10px;
  p {
    padding-top: 10px;
    img {
      margin-top: 10px;
      width: 20px;
      height: 20px;
    }
  }
}

.NewsBox {
  align-items: center;
}

.NewsInfoBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  .NewsData {
    border-radius: 10px;
    padding: 10px;
    margin: 0 40px 0 40px;
    h2 {
      padding: 20px;
      text-align: center;
      img {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
    }
    .NewsTime {
      float: right;
    }
    background-color: #fff;
  }
  .NewsComments {
    border-radius: 10px;
    padding: 10px;
    margin: 40px;
    button {
      cursor: pointer;
      border: none;

    }
    img  {
      width: 16px;
      height: 16px;
    }

    .CommentsText {
      padding: 5px;
    }

    a {
      color: #42a4f5;
      float: right;
      text-decoration: dotted;
      border-bottom: dotted;
    }

    h2 {
      text-align: center;
    }
    background-color: #fff;
  }
}
